/* MAIN STYLES */
* { margin: 0; padding: 0; border: none; }
html {
    height: 100%;
}
body {
    font-family: Georgia, sans-serif;
    background-color: white;
    height: 100%;
    color: black;
}
.page {
    background-color: white;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: auto;
    min-height: 100%;
}
.center {
    text-align: center;
}

/* SVG TEXT STYLES */
.label {
    font-weight: bold;
    font-size: 12pt;
    letter-spacing: -1px;
    font-variant: small-caps;
}
.capename {
    font-size: 30pt;
    font-weight: bold;
}
.capeseason {
    font-size: 20pt;
    font-weight: bold;
}
.capeclass {
    font-weight: bold;
    font-size: 20pt;
}
.capetype {
    font-weight: bold;
    font-size: 14pt;
    font-style: italic;
}
.skilltitle {
    font-weight: bold;
    font-size: 15pt;
}
.skillpara {
    font-size: 9pt;
    font-style: italic;
}

/*NAV BAR*/
.navbardiv {
    padding-top: 20px;
    padding-bottom: 10px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: burlywood;
}
a:active {
    text-decoration: none;
    background-color: bisque;
}
.navbar {
    background-color: sienna;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    color: white;
}

/* ROW COMMON */
.ib {
    display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.innerstretch {
    margin: auto;
}
.elempadding {
    padding: 3px 5px 3px 5px;
}
input.inputcommon {
    font-weight: bold;
    font-size: 18pt;
    font-family: Georgia, sans-serif;
    text-align:center;
    border: 0px solid black;
    padding-top: 0px;
}
button.buttoncommon {
    height: 30;
    font-family: Georgia, sans-serif;
    font-size: 14pt;
    border: 0px solid black;
    border-radius: 7px;
    margin: 0 5px 0 5px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: sienna;
}
button.buttoncommon:hover{
    background-color: burlywood;
}
button.buttoncommon:active{
    background-color: bisque;
}

/* STATE ROW */
.stateouter {
    width: 75%;
    margin: auto;
}
@media only screen and (max-width: 1000px) {
    .stateouter {
        width: 100%;
    }
}
.stateinput {
    width: 9em;
}


/* ROLL ROW */
.rollouter {
    width: 75%;
    margin: auto;
    padding-top: 10px;
}
@media only screen and (max-width: 1000px) {
    .rollouter {
        width: 100%;
    }
}
.rolltextfixed {
    width: 1em;
}
.rollinput {
    width: 1em;
}
